input(name="attr_playbookmoveagente1" type="checkbox").move.agente
.moveitem.agente
  label.agente
    span.movecheck
    span.descriptor2(data-i18n="playbook_agente_move1_title")=translation["playbook_agente_move1_title"] 
    img.circleIcon(src=imagesrc + 'Civitas.svg')
    span.highlight1(data-i18n="character_trait_civitas")=translation["character_trait_civitas"] 
    |   | 
    span(data-i18n="playbook_agente_move1_part1") #{translation["playbook_agente_move1_part1"]}
    span.highlight1(data-i18n="character_moves_triumph")=translation["character_moves_triumph"]
    span(data-i18n="playbook_agente_move1_part2") #{translation["playbook_agente_move1_part2"]}
    span.highlight1(data-i18n="character_moves_weakvictory")=translation["character_moves_victory"]
    span(data-i18n="playbook_agente_move1_part3") #{translation["playbook_agente_move1_part3"]}
    span.highlight1(data-i18n="character_moves_weakvictory")=translation["character_moves_weakvictory"]
    span(data-i18n="playbook_agente_move1_part4") #{translation["playbook_agente_move1_part4"]}
    ul
      li(data-i18n="playbook_agente_move1_part5") #{translation["playbook_agente_move1_part5"]}
      li(data-i18n="playbook_agente_move1_part6") #{translation["playbook_agente_move1_part6"]}
      li(data-i18n="playbook_agente_move1_part7") #{translation["playbook_agente_move1_part7"]}
      li(data-i18n="playbook_agente_move1_part8") #{translation["playbook_agente_move1_part8"]}
      li(data-i18n="playbook_agente_move1_part9") #{translation["playbook_agente_move1_part9"]}
    span(data-i18n="playbook_agente_move1_part10") #{translation["playbook_agente_move1_part10"]}
    span.highlight1(data-i18n="character_moves_acceptyourfate")=translation["character_moves_acceptyourfate"]
    span(data-i18n="playbook_agente_move1_part11") #{translation["playbook_agente_move1_part11"]}
    br.agente
input(name="attr_playbookmoveagente2" type="checkbox").move.agente
.moveitem.agente
  label.agente
    span.movecheck
    span.descriptor2(data-i18n="playbook_agente_move2_title")=translation["playbook_agente_move2_title"] 
    img.circleIcon(src=imagesrc + 'Perceptio.svg')
    span.highlight1(data-i18n="character_trait_perceptio")=translation["character_trait_perceptio"]
    |   | 
    span(data-i18n="playbook_agente_move2_part1") #{translation["playbook_agente_move2_part1"]}
    span.highlight1(data-i18n="character_moves_triumph")=translation["character_moves_triumph"]
    span(data-i18n="playbook_agente_move2_part2") #{translation["playbook_agente_move2_part2"]}
    span.highlight1(data-i18n="character_moves_victory")=translation["character_moves_victory"]
    span(data-i18n="playbook_agente_move2_part3") #{translation["playbook_agente_move2_part3"]}
    span.highlight1(data-i18n="character_moves_weakvictory")=translation["character_moves_weakvictory"]
    span(data-i18n="playbook_agente_move2_part4") #{translation["playbook_agente_move2_part4"]}
    span.highlight1(data-i18n="character_moves_acceptyourfate")=translation["character_moves_acceptyourfate"]
    span(data-i18n="playbook_agente_move2_part5") #{translation["playbook_agente_move2_part5"]}
    span.highlight1(data-i18n="character_moves_weakvictory")=translation["character_moves_weakvictory"]
    span(data-i18n="playbook_agente_move2_part6") #{translation["playbook_agente_move2_part6"]}
    br.agente
input(name="attr_playbookmoveagente3" type="checkbox").move.agente
.moveitem.agente
  label.agente
    span.movecheck
    span.descriptor2(data-i18n="playbook_agente_move3_title")=translation["playbook_agente_move3_title"] 
    |   | 
    span(data-i18n="playbook_agente_move3_part1") #{translation["playbook_agente_move3_part1"]}
    span.highlight2(data-i18n="playbook_agente_move3_part2") #{translation["playbook_agente_move3_part2"]}
    span(data-i18n="playbook_agente_move3_part3") #{translation["playbook_agente_move3_part3"]}
    span.highlight2(data-i18n="playbook_agente_move3_part4") #{translation["playbook_agente_move3_part4"]}
    span(data-i18n="playbook_agente_move3_part5") #{translation["playbook_agente_move3_part5"]}
    br.agente
input(name="attr_playbookmoveagente4" type="checkbox").move.agente
.moveitem.agente
  label.agente
    span.movecheck
    span.descriptor2(data-i18n="playbook_agente_move4_title")=translation["playbook_agente_move4_title"] 
    |   | 
    span(data-i18n="playbook_agente_move4_part1") #{translation["playbook_agente_move4_part1"]}
    span.highlight2(data-i18n="playbook_agente_move4_part2") #{translation["playbook_agente_move4_part2"]}
    span(data-i18n="playbook_agente_move4_part3") #{translation["playbook_agente_move4_part3"]}
    br.agente
input(name="attr_playbookmoveagente5" type="checkbox").move.agente
.moveitem.agente
  label.agente
    span.movecheck
    span.descriptor2(data-i18n="playbook_agente_move5_title")=translation["playbook_agente_move5_title"] 
    |   | 
    span(data-i18n="playbook_agente_move5_part1") #{translation["playbook_agente_move5_part1"]}
    br.agente
input(name="attr_playbookmoveauriga1" type="checkbox").move.auriga
.moveitem.auriga
  label.auriga
    span.movecheck
    span.descriptor2(data-i18n="playbook_auriga_move1_title")=translation["playbook_auriga_move1_title"] 
    img.circleIcon(src=imagesrc + 'Fortitude.svg')
    span.highlight1(data-i18n="character_trait_fortitude")=translation["character_trait_fortitude"] 
    |   | 
    span(data-i18n="playbook_auriga_move1_part1") #{translation["playbook_auriga_move1_part1"]}
    span(class='highlight1' data-i18n="playbook_auriga_move1_part2") #{translation["playbook_auriga_move1_part2"]}
    span(data-i18n="playbook_auriga_move1_part3") #{translation["playbook_auriga_move1_part3"]}
    span(class='highlight1' data-i18n="playbook_auriga_move1_part4") #{translation["playbook_auriga_move1_part4"]}
    span(data-i18n="playbook_auriga_move1_part5") #{translation["playbook_auriga_move1_part5"]}
    span(class='highlight1' data-i18n="playbook_auriga_move1_part6") #{translation["playbook_auriga_move1_part6"]}
    span(data-i18n="playbook_auriga_move1_part7") #{translation["playbook_auriga_move1_part7"]}
    ul 
      li(data-i18n='playbook_auriga_move1_part8')
      li(data-i18n='playbook_auriga_move1_part9')
    span(data-i18n='playbook_auriga_move1_part10')
    span(class='highlight1' data-i18n='playbook_auriga_move1_part11')
    span(data-i18n='playbook_auriga_move1_part12')
    br.auriga
input(name="attr_playbookmovedecurion1" type="checkbox").move.decurion
.moveitem.decurion
  label.decurion
    span.movecheck
    span.descriptor2(data-i18n="playbook_decurion_move1_title")=translation["playbook_decurion_move1_title"] 
    img.circleIcon(src=imagesrc + 'Fortitude.svg')
    span.highlight1(data-i18n="character_trait_fortitude")=translation["character_trait_fortitude"] 
    |   | 
    span(data-i18n="playbook_decurion_move1_part1") #{translation["playbook_decurion_move1_part1"]}
    span.highlight1(data-i18n="character_moves_triumph")=translation["character_moves_triumph"]
    span(data-i18n="playbook_decurion_move1_part2") #{translation["playbook_decurion_move1_part2"]}
    span.highlight1(data-i18n="character_moves_victory")=translation["character_moves_victory"]
    span(data-i18n="playbook_decurion_move1_part3") #{translation["playbook_decurion_move1_part3"]}
    span.highlight1(data-i18n="character_moves_weakvictory")=translation["character_moves_weakvictory"]
    span(data-i18n="playbook_decurion_move1_part4") #{translation["playbook_decurion_move1_part4"]}
    span.highlight1(data-i18n="character_moves_acceptyourfate")=translation["character_moves_acceptyourfate"]
    span(data-i18n="playbook_decurion_move1_part5") #{translation["playbook_decurion_move1_part5"]}
    br.decurion
input(name="attr_playbookmovedecurion2" type="checkbox").move.decurion
.moveitem.decurion
  label.decurion
    span.movecheck
    span.descriptor2(data-i18n="playbook_decurion_move2_title")=translation["playbook_decurion_move2_title"] 
    |   | 
    span(data-i18n="playbook_decurion_move2_part1") #{translation["playbook_decurion_move2_part1"]}
    span.highlight2(data-i18n="character_moves_joinbattle")=translation["character_moves_joinbattle"] 
    span(data-i18n="playbook_decurion_move2_part2") #{translation["playbook_decurion_move2_part2"]}
    br.decurion
input(name="attr_playbookmovedecurion3" type="checkbox").move.decurion
.moveitem.decurion
  label.decurion
    span.movecheck
    span.descriptor2(data-i18n="playbook_decurion_move3_title")=translation["playbook_decurion_move3_title"] 
    |   | 
    span(data-i18n="playbook_decurion_move3_part1") #{translation["playbook_decurion_move3_part1"]}
    span.highlight2(data-i18n="character_moves_joinbattle")=translation["character_moves_joinbattle"] 
    span(data-i18n="playbook_decurion_move3_part2") #{translation["playbook_decurion_move3_part2"]}
    span.highlight2(data-i18n="character_moves_temptthefates")=translation["character_moves_temptthefates"] 
    span(data-i18n="playbook_decurion_move3_part3") #{translation["playbook_decurion_move3_part3"]}
    br.decurion
input(name="attr_playbookmovedecurion4" type="checkbox").move.decurion
.moveitem.decurion
  label.decurion
    span.movecheck
    span.descriptor2(data-i18n="playbook_decurion_move4_title")=translation["playbook_decurion_move4_title"] 
    |   | 
    span(data-i18n="playbook_decurion_move4_part1") #{translation["playbook_decurion_move4_part1"]}
    span.highlight2(data-i18n="playbook_decurion_move4_part2")=translation["playbook_decurion_move4_part2"]
    span(data-i18n="playbook_decurion_move4_part3") #{translation["playbook_decurion_move4_part3"]}
    br.decurion
input(name="attr_playbookmovedecurion5" type="checkbox").move.decurion
.moveitem.decurion
  label.decurion
    span.movecheck
    span.descriptor2(data-i18n="playbook_decurion_move5_title")=translation["playbook_decurion_move5_title"] 
    |   | 
    span(data-i18n="playbook_decurion_move5_part1") #{translation["playbook_decurion_move5_part1"]}
    br.decurion
input(name="attr_playbookmovedux1" type="checkbox").move.dux
.moveitem.dux
  label.dux
    span.movecheck
    span.descriptor2(data-i18n="playbook_dux_move1_title")=translation["playbook_dux_move1_title"] 
    img.circleIcon(src=imagesrc + 'Fortitude.svg')
    span.highlight1(data-i18n="character_trait_fortitude")=translation["character_trait_fortitude"] 
    |   | 
    span(data-i18n="playbook_dux_move1_part1") #{translation["playbook_dux_move1_part1"]}
    span(class='highlight1' data-i18n="playbook_dux_move1_part2") #{translation["playbook_dux_move1_part2"]}
    span(data-i18n="playbook_dux_move1_part3") #{translation["playbook_dux_move1_part3"]}
    span(class='highlight1' data-i18n="playbook_dux_move1_part4") #{translation["playbook_dux_move1_part4"]}
    span(data-i18n="playbook_dux_move1_part5") #{translation["playbook_dux_move1_part5"]}
    span(class='highlight1' data-i18n="playbook_dux_move1_part6") #{translation["playbook_dux_move1_part6"]}
    span(data-i18n="playbook_dux_move1_part7") #{translation["playbook_dux_move1_part7"]}
    ul 
      li(data-i18n='playbook_dux_move1_part8')
      li(data-i18n='playbook_dux_move1_part9')
    span(data-i18n='playbook_dux_move1_part10')
    span(class='highlight1' data-i18n='playbook_dux_move1_part11')
    span(data-i18n='playbook_dux_move1_part12')
    br.dux
input(name="attr_playbookmoveepiscopus1" type="checkbox").move.episcopus
.moveitem.episcopus
  label.episcopus
    span.movecheck
    span.descriptor2(data-i18n="playbook_episcopus_move1_title")=translation["playbook_episcopus_move1_title"] 
    img.circleIcon(src=imagesrc + 'Fortitude.svg')
    span.highlight1(data-i18n="character_trait_fortitude")=translation["character_trait_fortitude"] 
    |   | 
    span(data-i18n="playbook_episcopus_move1_part1") #{translation["playbook_episcopus_move1_part1"]}
    span(class='highlight1' data-i18n="playbook_episcopus_move1_part2") #{translation["playbook_episcopus_move1_part2"]}
    span(data-i18n="playbook_episcopus_move1_part3") #{translation["playbook_episcopus_move1_part3"]}
    span(class='highlight1' data-i18n="playbook_episcopus_move1_part4") #{translation["playbook_episcopus_move1_part4"]}
    span(data-i18n="playbook_episcopus_move1_part5") #{translation["playbook_episcopus_move1_part5"]}
    span(class='highlight1' data-i18n="playbook_episcopus_move1_part6") #{translation["playbook_episcopus_move1_part6"]}
    span(data-i18n="playbook_episcopus_move1_part7") #{translation["playbook_episcopus_move1_part7"]}
    ul 
      li(data-i18n='playbook_episcopus_move1_part8')
      li(data-i18n='playbook_episcopus_move1_part9')
    span(data-i18n='playbook_episcopus_move1_part10')
    span(class='highlight1' data-i18n='playbook_episcopus_move1_part11')
    span(data-i18n='playbook_episcopus_move1_part12')
    br.episcopus
input(name="attr_playbookmoveevocatus1" type="checkbox").move.evocatus
.moveitem.evocatus
  label.evocatus 
    span.movecheck
    span.descriptor2(data-i18n="playbook_evocatus_move1_title")=translation["playbook_evocatus_move1_title"] 
    img.circleIcon(src=imagesrc + 'Civitas.svg')
    span.highlight1(data-i18n="character_trait_civitas")=translation["character_trait_civitas"] 
    |  | 
    span(data-i18n="playbook_evocatus_move1_part1") #{translation["playbook_evocatus_move1_part1"]}
    span.highlight1(data-i18n="character_moves_triumph")=translation["character_moves_triumph"]
    span(data-i18n="playbook_evocatus_move1_part2") #{translation["playbook_evocatus_move1_part2"]}
    span.highlight1(data-i18n="character_moves_victory")=translation["character_moves_victory"]
    span(data-i18n="playbook_evocatus_move1_part3") #{translation["playbook_evocatus_move1_part3"]}
    ul
      li(data-i18n="playbook_evocatus_move1_part4") #{translation["playbook_evocatus_move1_part4"]}
      li(data-i18n="playbook_evocatus_move1_part5") #{translation["playbook_evocatus_move1_part5"]}
      li
        span(data-i18n="playbook_evocatus_move1_part6") #{translation["playbook_evocatus_move1_part6"]}
        span.highlight2(data-i18n="playbook_evocatus_move1_part7") #{translation["playbook_evocatus_move1_part7"]}
        span(data-i18n="playbook_evocatus_move1_part8") #{translation["playbook_evocatus_move1_part8"]}
        span.highlight2(data-i18n="playbook_evocatus_move1_part9") #{translation["playbook_evocatus_move1_part9"]}
        span(data-i18n="playbook_evocatus_move1_part10") #{translation["playbook_evocatus_move1_part10"]}
      li(data-i18n="playbook_evocatus_move1_part11") #{translation["playbook_evocatus_move1_part11"]}
    | 
    span(data-i18n="playbook_evocatus_move1_part12") #{translation["playbook_evocatus_move1_part12"]}
    span.highlight1(data-i18n="character_moves_acceptyourfate")=translation["character_moves_acceptyourfate"]
    span(data-i18n="playbook_evocatus_move1_part13") #{translation["playbook_evocatus_move1_part13"]}
    span.highlight1(data-i18n="character_moves_pyrrhicvictory")=translation["character_moves_pyrrhicvictory"]
    span(data-i18n="playbook_evocatus_move1_part14") #{translation["playbook_evocatus_move1_part14"]}
    br.evocatus
input(name="attr_playbookmoveevocatus2" type="checkbox").move.evocatus
.moveitem.evocatus
  label.evocatus
    span.movecheck
    span.descriptor2(data-i18n="playbook_evocatus_move2_title")=translation["playbook_evocatus_move2_title"] 
    |  | 
    span(data-i18n="playbook_evocatus_move2_part1") #{translation["playbook_evocatus_move2_part1"]}
    br.evocatus
input(name="attr_playbookmoveevocatus3" type="checkbox").move.evocatus
.moveitem.evocatus
  label.evocatus
    span.movecheck
    span.descriptor2(data-i18n="playbook_evocatus_move3_title")=translation["playbook_evocatus_move3_title"] 
    |  | 
    span(data-i18n="playbook_evocatus_move3_part1") #{translation["playbook_evocatus_move3_part1"]}
    br.evocatus
input(name="attr_playbookmoveevocatus4" type="checkbox").move.evocatus
.moveitem.evocatus
  label.evocatus
    span.movecheck
    span.descriptor2(data-i18n="playbook_evocatus_move4_title")=translation["playbook_evocatus_move4_title"] 
    |  |
    span(data-i18n="playbook_evocatus_move4_part1") #{translation["playbook_evocatus_move4_part1"]}
    br.evocatus
input(name="attr_playbookmoveevocatus5" type="checkbox").move.evocatus
.moveitem.evocatus
  label.evocatus
    span.movecheck
    span.descriptor2(data-i18n="playbook_evocatus_move5_title")=translation["playbook_evocatus_move5_title"] 
    |  | 
    span(data-i18n="playbook_evocatus_move5_part1") #{translation["playbook_evocatus_move5_part1"]}
    br.evocatus
input(name="attr_playbookmovesenator1" type="checkbox").move.senator
.moveitem.senator
  label.senator
    span.movecheck
    span.descriptor2(data-i18n="playbook_senator_move1_title")=translation["playbook_senator_move1_title"] 
    img.circleIcon(src=imagesrc + 'Fortitude.svg')
    span.highlight1(data-i18n="character_trait_fortitude")=translation["character_trait_fortitude"] 
    |   | 
    span(data-i18n="playbook_senator_move1_part1") #{translation["playbook_senator_move1_part1"]}
    span(class='highlight1' data-i18n="playbook_senator_move1_part2") #{translation["playbook_senator_move1_part2"]}
    span(data-i18n="playbook_senator_move1_part3") #{translation["playbook_senator_move1_part3"]}
    span(class='highlight1' data-i18n="playbook_senator_move1_part4") #{translation["playbook_senator_move1_part4"]}
    span(data-i18n="playbook_senator_move1_part5") #{translation["playbook_senator_move1_part5"]}
    span(class='highlight1' data-i18n="playbook_senator_move1_part6") #{translation["playbook_senator_move1_part6"]}
    span(data-i18n="playbook_senator_move1_part7") #{translation["playbook_senator_move1_part7"]}
    ul 
      li(data-i18n='playbook_senator_move1_part8')
      li(data-i18n='playbook_senator_move1_part9')
    span(data-i18n='playbook_senator_move1_part10')
    span(class='highlight1' data-i18n='playbook_senator_move1_part11')
    span(data-i18n='playbook_senator_move1_part12')
    br.senator